Src/app/ServiceAgents.Siport/Service References/SiportReference/Siport9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QueryContracts.Siport.Ubigeo.Result" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QueryContracts.Siport.Ubigeo.Result" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50010/Siport?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/QueryContracts.Common" />
  <xs:complexType name="ListarUbigeoResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q1:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hits" nillable="true" type="tns:ArrayOfListarUbigeoDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarUbigeoResult" nillable="true" type="tns:ListarUbigeoResult" />
  <xs:complexType name="ArrayOfListarUbigeoDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListarUbigeoDto" nillable="true" type="tns:ListarUbigeoDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListarUbigeoDto" nillable="true" type="tns:ArrayOfListarUbigeoDto" />
  <xs:complexType name="ListarUbigeoDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoUbigeo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListarUbigeoDto" nillable="true" type="tns:ListarUbigeoDto" />
</xs:schema>