Src/app/ServiceAgents.Siport/Service References/SiportReference/Siport81.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QueryContracts.Siport.Cliente.Result" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QueryContracts.Siport.Cliente.Result" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50010/Siport?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/QueryContracts.Common" />
  <xs:complexType name="ObtenerClienteResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q1:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="CodigoCliente" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IdClientes" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" name="NombreRazonSocial" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ObtenerClienteResult" nillable="true" type="tns:ObtenerClienteResult" />
</xs:schema>