Src/app/ServiceAgents.Siport/Service References/SiportReference/SiportBackendService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SiportBackendService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="main_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50010/Siport?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50010/Siport?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CommandContracts.Common" />
      <xsd:import schemaLocation="http://localhost:50010/Siport?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50010/Siport?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CommandContracts.Siport.HojaRuta" />
      <xsd:import schemaLocation="http://localhost:50010/Siport?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/CommandContracts.Siport.OrdenServicio" />
      <xsd:import schemaLocation="http://localhost:50010/Siport?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/CommandContracts.Siport.OrdenServicio.Outputs" />
      <xsd:import schemaLocation="http://localhost:50010/Siport?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/QueryContracts.Common" />
      <xsd:import schemaLocation="http://localhost:50010/Siport?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/QueryContracts.Siport.Cliente.Parameter" />
      <xsd:import schemaLocation="http://localhost:50010/Siport?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/QueryContracts.Siport.HojaRuta.Parameter" />
      <xsd:import schemaLocation="http://localhost:50010/Siport?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/QueryContracts.Siport.OrderServicio.Parameter" />
      <xsd:import schemaLocation="http://localhost:50010/Siport?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/QueryContracts.Siport.Ubigeo.Parameter" />
      <xsd:import schemaLocation="http://localhost:50010/Siport?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/QueryContracts.Common.Seguridad.Parameters" />
      <xsd:import schemaLocation="http://localhost:50010/Siport?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/QueryContracts.Siport.Cliente.Result" />
      <xsd:import schemaLocation="http://localhost:50010/Siport?xsd=xsd13" namespace="http://schemas.datacontract.org/2004/07/QueryContracts.Siport.HojaRuta.Result" />
      <xsd:import schemaLocation="http://localhost:50010/Siport?xsd=xsd14" namespace="http://schemas.datacontract.org/2004/07/QueryContracts.Siport.OrderServicio.Result" />
      <xsd:import schemaLocation="http://localhost:50010/Siport?xsd=xsd15" namespace="http://schemas.datacontract.org/2004/07/QueryContracts.Siport.Ubigeo.Result" />
      <xsd:import schemaLocation="http://localhost:50010/Siport?xsd=xsd16" namespace="http://schemas.datacontract.org/2004/07/QueryContracts.Common.Seguridad.Results" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBackendService_ExecuteCommand_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteCommand" />
  </wsdl:message>
  <wsdl:message name="IBackendService_ExecuteCommand_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteCommandResponse" />
  </wsdl:message>
  <wsdl:message name="IBackendService_ExecuteCommand_CommandFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/CommandContracts.Common" name="detail" element="q1:CommandFault" />
  </wsdl:message>
  <wsdl:message name="IBackendService_ExecuteQuery_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteQuery" />
  </wsdl:message>
  <wsdl:message name="IBackendService_ExecuteQuery_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteQueryResponse" />
  </wsdl:message>
  <wsdl:portType name="IBackendService">
    <wsdl:operation name="ExecuteCommand">
      <wsdl:input wsaw:Action="http://tempuri.org/IBackendService/ExecuteCommand" message="tns:IBackendService_ExecuteCommand_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBackendService/ExecuteCommandResponse" message="tns:IBackendService_ExecuteCommand_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IBackendService/ExecuteCommandCommandFaultFault" name="CommandFaultFault" message="tns:IBackendService_ExecuteCommand_CommandFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteQuery">
      <wsdl:input wsaw:Action="http://tempuri.org/IBackendService/ExecuteQuery" message="tns:IBackendService_ExecuteQuery_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBackendService/ExecuteQueryResponse" message="tns:IBackendService_ExecuteQuery_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="main" type="tns:IBackendService">
    <wsp:PolicyReference URI="#main_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExecuteCommand">
      <soap12:operation soapAction="http://tempuri.org/IBackendService/ExecuteCommand" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CommandFaultFault">
        <soap12:fault use="literal" name="CommandFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ExecuteQuery">
      <soap12:operation soapAction="http://tempuri.org/IBackendService/ExecuteQuery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SiportBackendService">
    <wsdl:port name="main" binding="tns:main">
      <soap12:address location="http://localhost:50010/Siport" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:50010/Siport</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>